<!DOCTYPE html>
<html lang="en">
<head>
    <title>dw</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
</br>

<nav class="nav nav-pills">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Docker Watcher</a>
        </div>
        <ul class="nav nav-pills">
            <li class="active"><a href="/">Summary</a></li>
            <li><a href="/add_pod">Add pod</a></li>
            <li><a href="#">Remove pod</a></li>
            <li><a href="/add_host">Add host</a></li>
            <li><a href="#">Remove host</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Total hosts: {{ hosts_total }}</h2>
    <h2>Total pods: {{ pods_total }}</h2>

    {% if print_hosts %}
        {% for host in hosts_list %}
            <h2>{{ host }}</h2>
        {% endfor %}
    {% endif %}
    {% if print_pods %}
        {% for pod in pods_list %}
            <h2>{{ pod }}</h2>
        {% endfor %}
    {% endif %}
</div>
<script>setTimeout("location.reload(true);", 10000);</script>
</body>
</html>